<template lang="pug">
  v-container
    h3
      v-icon(color='blue darken-2' large) mdi-chart-line
    div(v-if="!isLoading")
      v-form.mt-5(@submit="onSubmit")
        v-row(no-gutters)
          v-col.mb-3(cols='12')
            h4 Completa el formulario para buscar datos de los últimos 20 días
          v-col.d-flex.justify-center.align-center(cols='12' md='6')
            label Seleccione el/los país(es):
          v-col(cols='12' md='6')
            v-autocomplete(v-model="countriesSelected" :items="countries" :menu-props="{ maxHeight: '400' }" 
              label='Seleccione' multiple return-object deletable-chips small-chips persistent-hint single-line)
          v-col.d-flex.justify-center.align-center(cols='12' md='6')
            label Seleccione el estado:
          v-col(cols='12' md='6')
            v-select(v-model="status" :items="statusItems" label='Seleccione' persistent-hint single-line)
          v-col(cols='12' v-if="warnings.length > 0")
            v-alert(type='warning' text) No fue posible gráficar los datos de: 
              span(v-for="country in warnings") {{ country }}, 
              span Por favor intenta con otro(s) país(es).
          v-col(cols='12' v-if="error")
            v-alert(type='error' text) Por favor completa todos los campos del formulario.
          v-col(cols='12')
            v-btn(depressed color='primary' type='submit') Graficar
      CountriesChart(:series="countriesInfoSelected" :categories="dates" v-if="countriesInfoSelected.length > 0")
    .text-center.mt-5(v-else)
      v-progress-circular(indeterminate color='primary')
</template>

<script>
import { getCountries, getDataByCountryAndStatus } from '../services/services'
import CountriesChart from '../components/CountriesChart'

export default {
  name: 'Chart',
  components: {
    CountriesChart
  },
  data () {
    return {
      status: null,
      statusItems: [
        { text: 'Nuevos Confirmados', value: 'confirmed' },
        { text: 'Nuevos Recuperados', value: 'recovered' },
        { text: 'Nuevos Fallecidos', value: 'deaths' },
      ],
      countries: null,
      countriesSelected: [],
      countriesInfoSelected: [],
      dates: [],
      error: false,
      warnings: [],
      isLoading: true
    }
  },
  methods: {
    onSubmit (e) {
      e.preventDefault()
      if (this.countriesSelected.length == 0 || !this.status) {
        this.countriesInfoSelected = []
        this.error = true
        return
      }
      this.error = false
      this.warnings = []
      this.countriesSelected.forEach((country, i) => this.getDataByCountryAndStatus(country, i))
    },
    async getCountries () {
      try {
        const resp = await getCountries()
        this.countries = resp.data.map((element) => {
          return { 'value': element.Slug, 'text': element.Country }
        }).sort((a, b) => a.text.localeCompare(b.text))
      } catch (err) {
        console.log(err)
      } finally {
        this.isLoading = false
      }
    },
    async getDataByCountryAndStatus (country, i) {
      this.countriesInfoSelected = []
      try {
        const resp = await getDataByCountryAndStatus(country.value, this.status)
        if (resp.data.length > 21) {
          this.countriesSelected.splice(i, 1)
          this.warnings.push(country.text)
          return
        }
        const data = []
        for (let i = 0; i < resp.data.length; i++) {
          if (resp.data[i + 1]) {
            const total = resp.data[i + 1].Cases - resp.data[i].Cases
            data.push(total)
          }
        }
        // Agregar un país con la info para graficar
        this.countriesInfoSelected.push({ 'name': resp.data[0].Country, 'data': data })
      } catch (err) {
        console.log(err)
        this.countriesSelected.splice(i, 1)
        this.warnings.push(country.text)
      }
    },
    generateDates () {
      for (let i = 20; i >= 1; i--) {
        this.dates.push(new Date(new Date().setDate(new Date().getDate() - i)).toLocaleString('es-CL').split(' ')[0])
      }
    }
  },
  mounted () {
    this.getCountries()
    this.generateDates()
  }
}
</script>

<style scoped>
form {
  border: 1px solid #CCC;
  padding: 10px;
}
</style>