<template lang="pug">
  v-col(cols='12')
    h3 NÚMEROS EN EL MUNDO
    .summary-global-info(v-if="global")
      .box-info
        v-icon(color='green darken-2') mdi-account-plus
        p {{ formatNumber(global.NewConfirmed) }}
        span Nuevos Confirmados
      .box-info
        v-icon(color='red darken-2') mdi-heart
        p {{ formatNumber(global.NewRecovered) }}
        span Nuevos Recuperados
      .box-info
        v-icon(color='black darken-2') mdi-skull
        p {{ formatNumber(global.NewDeaths) }}
        span Nuevos Fallecidos
      .box-info
        v-icon(color='green darken-2') mdi-account-multiple
        p {{ formatNumber(global.TotalConfirmed) }}
        span Total Confirmados
      .box-info
        v-icon(color='red darken-2') mdi-heart-multiple
        p {{ formatNumber(global.TotalRecovered) }}
        span Total Recuperados
      .box-info
        v-icon(color='black darken-2') mdi-skull-crossbones
        p {{ formatNumber(global.TotalDeaths) }}
        span Total Fallecidos
    .text-center.mt-5(v-else)
      v-alert(type='error') Ha ocurrido un error al intentar obtener los números en el mundo del COVID-19.
</template>

<script>
export default {
  name: 'GlobalInfo',
  props: {
    global: null
  },
  methods: {
    formatNumber (value) {
      return (value).toLocaleString('pt-BR')
    }
  }
}
</script>

<style scoped>
.summary-global-info {
  display: grid;
  gap: 15px;
  margin-top: 15px;
}
@media (min-width: 576px) {
  .summary-global-info {
    grid-template-columns: repeat(3, 1fr);
  }
}
.box-info {
  padding: 20px;
  border: 1px solid #CCC;
  background-color: aliceblue;
  box-shadow: 4px 5px 5px 1px rgba(209,206,206,0.75);
  -webkit-box-shadow: 4px 5px 5px 1px rgba(209,206,206,0.75);
  -moz-box-shadow: 4px 5px 5px 1px rgba(209,206,206,0.75);
  transition: transform .2s;
}
.box-info:hover {
  transform: scale(1.05);
} 
.box-info p {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: #2366A9;
}
.box-info span {
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
</style>